<%- include('partials/header') -%>
<div class="card flex-auto mx-1 bg-base-100 shadow-xl">
  <div class="card-body items-center text-center w-full">
    <h2 class="card-title">Editar Perfil</h2>
    <div class="mt-5 w-1/2">
      <form action="/user/<%=user.id%>/update?_method=PUT" method="POST">
        <div class="form-control w-full">
          <label class="input-group mx-1">
            <span>Nome de Usuário</span>
            <input
              type="text"
              class="input input-bordered w-full text-neutral-content placeholder-base-content"
              name="userName"
              value="<%=user.userName%>"
            />
          </label>
          <label class="input-group my-1">
            <span>Sobre Você:</span>
            <textarea
              class="textarea textarea-bordered w-full text-neutral-content placeholder-base-content"
              name="aboutMe"
            >
              <%=user.aboutMe%>
            </textarea>
          </label>
          <label class="input-group mx-1">
            <span>Receita Pinada</span>
            <select
              class="select select-bordered w-full text-neutral-content placeholder-base-content"
              name="featured"
            >
              <option disabled selected>-</option>
              <% for(var i=0; i<recipes.length; i++) { %>
                <option value=<%=recipes[i]._id %>> <%=recipes[i].title%></option>
              <% } %>
            </select>
          </label>
        </div>
        <button
          type="submit"
          class="flex-auto btn btn-outline btn-accent btn-lg"
        >
          Enviar
        </button>
      </form>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
