<%- include('partials/header') -%>
<div class="card flex-auto mx-1 bg-base-100 shadow-xl">
  <div class="card-body items-center text-center w-full">
    <h2 class="card-title">Nova Receita</h2>
    <div class="mt-5 w-1/2">
      <form
        action="/recipe/createRecipe"
        enctype="multipart/form-data"
        method="POST"
      >
        <div class="form-control w-full">
          <label class="input-group mx-1">
            <span>Nome</span>
            <input
              type="text"
              class="input input-bordered w-full text-neutral-content placeholder-base-content"
              name="title"
              value="<%=recipe.title%>"
            />
          </label>
          <div class="ingredientsParent">
            <label class="input-group input-group-vertical my-1">
              <span class="flex justify-center">Ingredientes</span>
            </label>
            <%for (let i = 0; i<recipe.ingredients.length; i++) {%>
            <div class="input-group flex place-content-center my-px">
              <input
                type="text"
                class="input input-bordered w-full text-neutral-content placeholder-base-content"
                name="ingredients"
                value="<%=recipe.ingredients[i]%>"
              />
              <%if (i == recipe.ingredients.length - 1) {%>
              <span class="btn flex justify-center" onclick="addField(this)"
                >+</span
              >
              <span
                class="btn flex justify-center"
                onclick="removeField(this)"
                style="display: none"
                >-</span
              >
              <%} else {%>
                <span class="btn flex justify-center" onclick="addField(this)" style="display: none"
                >+</span
              >
              <span
                class="btn flex justify-center"
                onclick="removeField(this)"
                >-</span
              >
              <%}%>
            </div>
            <%}%>
          </div>
          <label class="reference input-group my-1">
            <span>Preparo</span>
            <textarea
              class="textarea textarea-bordered w-full text-neutral-content placeholder-base-content"
              name="walkthrough"
            ><%=recipe.walkthrough%></textarea>
          </label>

          <label class="input-group my-1">
            <span>Dicas</span>
            <textarea
              class="textarea textarea-bordered w-full text-neutral-content placeholder-base-content"
              name="tips"
            ><%=recipe.tips%></textarea>
          </label>

          <label class="input-group my-1">
            <span>Tempo de Preparo</span>
            <input
              type="number"
              class="input input-bordered w-full text-neutral-content placeholder-base-content"
              name="prepTime"
              value="<%=recipe.prepTime%>"
            />
            <span>Minutos</span>
          </label>

          <label class="input-group my-1">
            <span>Porções</span>
            <input
              type="number"
              class="input input-bordered w-full text-neutral-content placeholder-base-content"
              name="portions"
              value="<%=recipe.portions%>"
            />
          </label>

          <!-- <label
            for="imgUpload"
            class="input-group input-group-vertical my-4 w-full"
          >
            <span>Foto</span>
            <input
              type="file"
              class="file-input-primary file-input file-input-bordered w-full text-neutral-content placeholder-base-content"
              id="imageUpload"
              name="file"
            />
          </label> -->
        </div>
        <button
          type="submit"
          class="flex-auto btn btn-outline btn-accent btn-lg"
        >
          Enviar
        </button>
      </form>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
