<%- include('partials/header') -%>
<section class="grid gap-px mx-px p-px min-h-[40rem] bg-base-100 md:grid-cols-2">
  <div class="card h-full rounded-lg bg-neutral p-5">
    <h2 class="self-center card-title pb-10">
      <%= author.userName %>
    </h2>
    <a href="/recipe/<%=author.featured._id%>">
      <img src="<%=author.featured.image%>" alt="Featured Recipe" class="h-96 object-cover rounded-xl" />
    </a>
    <h2 class="card-title mt-5">
      Sobre Mim:
    </h2>
    <p class="card-body">
      <%= author.aboutMe %>
    </p>
  </div>
  <div class="card h-full rounded-lg bg-neutral p-5 grid-rows-3">
    <h2 class="self-center card-title pb-10">
      Receitas de <%= author.userName %>
    </h2>
    <ul class="grid gap-4 h-full sm:grid-cols-2 2xl:grid-cols-4">
      <% for(var i=0; i<recipes.length && i<4; i++) { %>
        <li>
          <a href="/recipe/<%= recipes[i]._id%>">
            <div class="card card-compact bg-base-100 shadow-xl">
              <figure>
                <img class="w-full h-40 object-cover" src="<%= recipes[i].image%>" alt="<%= recipes[i].title%>" />
              </figure>
              <h2 class="flex justify-end text-center card-body">
                <%= recipes[i].title%>
              </h2>
            </div>
          </a>
        </li>
        <% } %>
    </ul>
    <a href="/user/<%= author._id%>/recipes" class="text-end align-bottom">Ver Todos</a>
  </div>
</section>
<section class="grid gap-px mx-px p-px min-h-[20rem] bg-base-100">
  <div class="card h-full rounded-lg bg-neutral p-5">
    <h2 class="self-center card-title pb-10">
      Favoritos de <%= author.userName %>
    </h2>
    <ul class="grid gap-4 h-full sm:grid-cols-3 2xl:grid-cols-6">
      <% for(var i=0; i<favs.length && i<6; i++) { %>
        <li>
          <a href="/recipe/<%= favs[i]._id%>">
            <div class="card card-compact bg-base-100 shadow-xl">
              <figure>
                <img class="w-full h-40 object-cover" src="<%= favs[i].image%>" alt="<%= favs[i].title%>" />
              </figure>
              <h2 class="flex justify-end text-center card-body">
                <%= favs[i].title%>
              </h2>
            </div>
          </a>
        </li>
        <% } %>
    </ul>
    <a href="/user/<%= author._id%>/liked" class="text-end align-bottom"> Ver Todos</a>
  </div>
</section>
<%- include('partials/footer') -%>