<%- include('partials/header') -%>
<main class="h-screen">
<!-- Title,Image,Actions -->
  <div class="grid grid-cols-2 min-h-2/5">
    <div class="card bg-base-100 shadow-xl">
      <h2 class="card-title"><%= recipe.title%></h2>
      <h4 class=><%= author.userName%></h4>
      <figure><img src="<%= recipe.image%>" alt="Dish" /></figure>
      <div class="card-body">    
        <div class="card-actions justify-between">
          <button class="btn btn-accent">STAR</button>
          <%if(recipe.author == author.id){ %>
          <form
          action="/recipe/deleteRecipe/<%= recipe.id %>?_method=DELETE"
          method="POST"
          >
            <button class="btn btn-accent" type="submit">DELETE</button>
          </form>
          <%}%>
        </div>
      </div>
    </div>

  <!-- Ingredients -->
    <div class="card bg-base-100 shadow-xl">
      <h2 class="card-title">Ingredients</h2>
      <div class="card-body">    
        <ul>
          <% for(let i=0; i < recipe.ingredients.length; i++) {%>
            <li class="col-6 justify-content-between mt-5">
              <%= recipe.ingredients[i]%>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 min-h-1/2">
    <div class="card bg-base-100 shadow-xl">
        <h2 class="card-title">Walktrough</h2>
        <p><%= recipe.walkthrough%></p>
        <% if (recipe.tips) {%> 
          <div class="card-title mt-5">Tips</div>
          <p><%= recipe.tips%></p>
        <%}%>
    </div>
  </div>
</main>
<%- include('partials/footer') -%>