<%- include('partials/header') -%>
<section class="grid gap-px mx-px p-px min-h-[35rem] bg-base-100 md:grid-cols-2">
  <div class="card h-full rounded-lg bg-neutral p-5">
    <h2 class="self-center card-title pb-10">
        <%= author.userName %>
    </h2>
    <figure class="px-10">
      <img src="<%= recipe.image%>" alt="Featured Recipe" class="h-96 object-cover rounded-xl" />
    </figure>
    <div class="card-actions px-10 pt-px justify-end">
      <%if(recipe.author.id == user.id){ %>
        <a class="btn btn-accent flex align-middle fa-solid fa-pen" href="./<%=recipe.id%>/edit"></a>
        <form
        action="/recipe/<%= recipe.id %>/deleteRecipe?_method=DELETE"
        method="POST"
        >
          <button class="btn btn-accent fa-solid fa-trash" type="submit"></button>
        </form>
      <%}else {%>
        <form
        action="/recipe/<%= recipe.id%>/likeRecipe?_method=PUT"
        method="POST"
        >
          <button class="btn btn-accent fa-solid fa-star" type="submit"></button>
        </form>
      <%}%>
      </div>      
  </div>
  <div class="card h-full rounded-lg bg-neutral p-5">
      <h2 class="self-center card-title pb-10">
          Ingredientes
      </h2>
      <ul>
        <% for(let i=0; i < recipe.ingredients.length; i++) {%>
          <li class="mt-5">
            <%= recipe.ingredients[i]%>
          </li>
        <% } %>
      </ul>
  </div>
</section>
<section class="mx-px bg-base-100 p-px">
  <div class="card whitespace-pre-wrap rounded-lg bg-neutral p-5">
      <h2 class="card-title">Preparo</h2>
      <p><%= recipe.walkthrough%></p>
  </div>
</section>
<section class="grid gap-px mx-px p-px min-h-[35rem] bg-base-100 md:grid-cols-2">
<% if (recipe.tips) {%>
  <div class="card rounded-lg bg-neutral p-5">
    <h2 class="card-title whitespace-pre-wrap">Dicas</h2>
    <p><%= recipe.tips%></p>
  </div>
<%}%>
  <div class="card rounded-lg bg-neutral p-5">
    <h2 class="card-title whitespace-pre-wrap">Comentários</h2>
    <form class="w-full mb-8" action="/comment/<%=recipe._id%>/create" method="POST">
      <div class="mb-3">
        <label for="comment" class="form-label">Escreva</label>
        <textarea class="form-control w-full min-h-[10rem]" id="comment" name="comment"></textarea>
      </div>
      <button type="submit" class="btn btn-accent self-end">Enviar</button>
    </form>
    <ul>
    <% for(let i=0; i<comments.length && i<4; i++) {%>
      <li>
        <div class=" grid grid-cols-1 gap-4 p-4 mb-8 border border-primary rounded-lg bg-base-100 shadow-lg">
          <div class="relative flex gap-4">
              <img src="<%=comments[i].author.avatar%>" class="relative rounded-full -top-8 -mb-4 bg-base-100 border border-primary h-20 w-20" alt="" loading="lazy">
              <div class="flex flex-col w-full">
                  <div class="flex flex-row justify-between">
                      <p class="relative text-xl whitespace-nowrap truncate overflow-hidden text-neutral-content"><%=comments[i].author.userName%></p>
                      <%if (comments[i].author._id == user.id) { %>
                        <form
                        action="/comment/<%=comments[i]._id%>/delete?_method=DELETE"
                        method="POST"
                        >
                          <button class="fa-solid fa-trash" type="submit"></button>
                        </form>
                      <%} else {%>
                        <form
                        action="/comment/<%= comments[i].__id %>/like?_method=PUT"
                        method="POST"
                        >
                          <button class="fa-solid fa-heart" type="submit"></button>
                        </form>
                      <%}%>
                  </div>
                  <p class=" text-sm text-base-content"><%=comments[i].createdAt%></p>
              </div>
          </div>
          <p class="-mt-4 text-neutral-content"><%=comments[i].comment%></p>
        </div>
      </li>
    <%}%>
    </ul>
    <a href="" class="text-end align-bottom">Todos</a>
  </div>
  </div>
</section>
<%- include('partials/footer') -%>
