<%- include('partials/header') -%>
<section class="mx-px grid grid-cols-12 gap-px bg-base-100 p-px">
  <div class="card col-span-6 rounded-lg bg-neutral p-5">
    <h2 class="self-center card-title pb-10">
        <%= author.userName %>
    </h2>
    <figure class="px-10 pt-10">
      <img src="<%= recipe.image%>" alt="Featured Recipe" class="rounded-xl" />
    </figure>
    <div class="card-actions justify-between">
      <button class="btn btn-accent">STAR</button>
      <%if(recipe.author.id == user.id){ %>
        <form
        action="/recipe/<%= recipe.id %>/deleteRecipe?_method=DELETE"
        method="POST"
        >
          <button class="btn btn-accent" type="submit">DELETE</button>
        </form>
      <%}%>
      </div>      
  </div>
  <div class="card col-span-6 rounded-lg bg-neutral p-5">
      <h2 class="self-center card-title pb-10">
          Ingredients
      </h2>
      <ul>
        <% for(let i=0; i < recipe.ingredients.length; i++) {%>
          <li class="mt-5">
            <%= recipe.ingredients[i]%>
          </li>
        <% } %>
      </ul>
  </div>
</section>
<section class="mx-px grid grid-cols-12 gap-px bg-base-100 p-px">
  <div class="card col-span-12 rounded-lg bg-neutral p-5">
      <h2 class="card-title">Instructions</h2>
      <p><%= recipe.walkthrough%></p>
  </div>
</section>
<% if (recipe.tips) {%>
<section>
  <div class="card col-span-12 rounded-lg bg-neutral p-5">
    <h2 class="card-title">Tips</h2>
    <p><%= recipe.tips%></p>
  </div>
</section>
<%}%>
<%- include('partials/footer') -%>